
* {
    background-color: #DCDCDC;
}

.miTitulo {
    display: block;
    font-family: monospace;
    color: green;
    font-size: 65px;
    white-space: nowrap;
    border-right: 4px solid;
    width: 17ch;
    
    animation: typing 2s steps(12),
    blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from { width: 0;}
}
@keyframes blink {
    50% { border-color: transparent;}
}

.cuerpo{
    margin: 15px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serifs
}

#yourname {
    background: yellow;
    border: 1px dotted;
    align-content: center;
    border-radius: 15px;
    font-size: 20px;
}

/* hgroup h1{
    color: green;
    font-size: 28px;
    text-align: center;
    font-family:'Courier New', Courier, monospace
    
} */

h2{
    color: blue;
    font-size: 20px;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

p{
    color: black;
    text-align: left;
}

p a{
    text-decoration: underline;
    color: lightseagreen;
}

ul li {
    display: inline-block;
    margin: 5px;
    border: 1px solid lightskyblue;
}

img {
    float:right;
    clear: right;
    display: block;
    margin-right: 60px;
    padding:0px;
    border: 1px solid black;
    border-radius: 25px;
}

.tocame {
    border: 1px dotted;
    font-size: 21px;
    border-radius: 5px;
    background:cornflowerblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.miPieA {
    text-align: center;
    font-size: small;
    font-family: monospace;
}

.tachiyomiWp {
    color: #2e84bf;
}

.tachiName {
    color: #2e84bf;
}
