h1{
    color: green;
    font-size: 24px;
    text-align: center;
    font-family:'Courier New', Courier, monospace
}

h2{
    color: blue;
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

p{
    color: rgb(32,32,32);
    text-align: justify;
}

p a{
    text-decoration: underline;
    color: lightseagreen;
}

body{
    text-align: justify;
    margin: 6px;
    padding: 3px;
    border: 10px;
    border-style:dotted;
    border-color:lightseagreen;
    font-family:Arial, Helvetica, sans-serif
}

